# AWS Configuration
AWS_REGION=us-east-1
AWS_PROFILE=default

# Application
APP_NAME=
ENVIRONMENT=dev

# ECR Configuration
ECR_REPOSITORY_URL=<your-account-id>.dkr.ecr.us-east-1.amazonaws.com/your_app_name
ECR_REPOSITORY_NAME=zscrum

# S3 and CloudFront
WEBSITE_BUCKET_NAME=jira-clone-dev-static
CLOUDFRONT_DISTRIBUTION_ID=<will-be-available-after-terraform-apply>

# ECS Configuration
ECS_CLUSTER_NAME=jira-clone-dev-cluster
ECS_SERVICE_NAME=jira-clone-service-dev

# Application Environment Variables
DATABASE_URL=""
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL="/onboarding"
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL="/onboarding"